/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
body {
  margin: 0;
  padding: 0;
  background: url(./images/background.jpg) 0 0/cover no-repeat;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}



.welcome-text__link {
  width: 200px;
  padding: 20px 30px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  margin: 0 auto;
}
.welcome-text__link:hover .wave {
  top: -120px;
  cursor: pointer;
}

.welcome-text__link span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 18px;
  letter-spacing: 8px;
  cursor: pointer;
}

.welcome-text__link .wave {
  width: 245px;
  height: 200px;
  background-color: #227073;
  box-shadow: inset 0 0 50px rgba(152, 152, 152, 0.5);
  position: absolute;
  left: 0;
  top: -75px;
  transition: 0.4s;
}
.welcome-text__link .wave::before, .welcome-text__link .wave::after {
  width: 150%;
  height: 150%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.welcome-text__link .wave::before {
  border-radius: 45%;
  background-color: #d3d3d3;
  animation: wave 5s linear infinite;
}
.welcome-text__link .wave::after {
  border-radius: 40%;
  background-color: rgba(13, 40, 90, 0.5);
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


/* --------------------------- */


:root {
  --text: #2B3044;
  --line: #BBC1E1;
  --line-active: #275EFE;
}

.text-modal {
  font-size: 18px;
  margin: 0;
  color: var(--text);
  line-height: 2;
  padding: 0 50px;
}
.text-modal .text-modal__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 5px);
  transition: margin 0.25s;
}
.text-modal .text-modal__link svg {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 4px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
.text-modal .text-modal__link:hover {
  --spacing: 12px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
  cursor: pointer;
}


@media screen and (max-width: 430px) {
  body {
    width: 100%;
    height: 100%;
    background: url(./images/background.jpg) 0 0/cover no-repeat;
  }

}
